<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EQUO TIP Ld</key>
	<array>
		<string>890</string>
		<string>878</string>
		<string>872</string>
        <string>860</string>
        <string>848</string>
        <string>830</string>
        <string>818</string>
        <string>812</string>
        <string>794</string>
        <string>776</string>
        <string>764</string>
        <string>746</string>
        <string>728</string>
        <string>722</string>
        <string>704</string>
        <string>680</string>
        <string>662</string>
        <string>644</string>
        <string>642</string>
        <string>626</string>
        <string>614</string>
        <string>596</string>
        <string>584</string>
        <string>572</string>
        <string>560</string>
        <string>546</string>
        <string>534</string>
        <string>520</string>
        <string>510</string>
        <string>500</string>
        <string>490</string>
        <string>480</string>
        <string>470</string>
        <string>460</string>
        <string>450</string>
	</array>
    <key>ROCKWELL C HRC</key>
	<array>
		<string>68.0</string>
		<string>66.9</string>
		<string>66.3</string>
        <string>65.0</string>
        <string>63.8</string>
        <string>62.0</string>
        <string>60.7</string>
        <string>60.1</string>
        <string>58.2</string>
        <string>56.2</string>
        <string>54.9</string>
        <string>52.9</string>
        <string>50.8</string>
        <string>50.1</string>
        <string>47.9</string>
        <string>45.0</string>
        <string>42.7</string>
        <string>40.3</string>
        <string>40.0</string>
        <string>37.9</string>
        <string>36.2</string>
        <string>33.6</string>
        <string>31.9</string>
        <string>30.0</string>
        <string>28.2</string>
        <string>26.0</string>
        <string>24.1</string>
        <string>21.7</string>
        <string>20.0</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
    </array>
    <key>BRINELL BHN</key>
	<array>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
		<string>635</string>
		<string>599</string>
		<string>576</string>
        <string>543</string>
        <string>511</string>
        <string>501</string>
        <string>471</string>
        <string>434</string>
        <string>407</string>
        <string>382</string>
        <string>380</string>
        <string>358</string>
        <string>343</string>
        <string>321</string>
        <string>307</string>
        <string>293</string>
        <string>280</string>
        <string>265</string>
        <string>253</string>
        <string>239</string>
        <string>229</string>
        <string>220</string>
        <string>211</string>
        <string>202</string>
        <string>194</string>
        <string>185</string>
        <string>177</string>
        
    </array>
    <key>VICKERS HV/DPH</key>
	<array>
		<string>940</string>
		<string>899</string>
		<string>879</string>
        <string>841</string>
        <string>805</string>
        <string>755</string>
        <string>723</string>
        <string>708</string>
        <string>664</string>
        <string>623</string>
        <string>598</string>
        <string>562</string>
        <string>528</string>
        <string>517</string>
        <string>487</string>
        <string>448</string>
        <string>421</string>
        <string>396</string>
        <string>393</string>
        <string>372</string>
        <string>357</string>
        <string>334</string>
        <string>320</string>
        <string>306</string>
        <string>293</string>
        <string>277</string>
        <string>265</string>
        <string>250</string>
        <string>240</string>
        <string>230</string>
        <string>220</string>
        <string>211</string>
        <string>201</string>
        <string>192</string>
        <string>183</string>
	</array>
    <key>SHORE C HSc</key>
	<array>
		<string>100</string>
		<string>97</string>
		<string>96</string>
        <string>93</string>
        <string>91</string>
        <string>87</string>
        <string>85</string>
        <string>84</string>
        <string>80</string>
        <string>77</string>
        <string>75</string>
        <string>72</string>
        <string>68</string>
        <string>67</string>
        <string>65</string>
        <string>61</string>
        <string>58</string>
        <string>55</string>
        <string>54</string>
        <string>52</string>
        <string>50</string>
        <string>48</string>
        <string>46</string>
        <string>45</string>
        <string>43</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
    </array>
    <key>SHORE C HFRSc</key>
	<array>
		<string>105</string>
		<string>102</string>
		<string>101</string>
        <string>98</string>
        <string>96</string>
        <string>92</string>
        <string>90</string>
        <string>89</string>
        <string>85</string>
        <string>82</string>
        <string>79</string>
        <string>76</string>
        <string>73</string>
        <string>72</string>
        <string>69</string>
        <string>64</string>
        <string>61</string>
        <string>58</string>
        <string>57</string>
        <string>55</string>
        <string>53</string>
        <string>50</string>
        <string>49</string>
        <string>47</string>
        <string>45</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
        <string>-----</string>
    </array>
</dict>
</plist>
